[Desktop Entry]
Type=Application
Name=Hourglass
Comment=Simple timer for Linux
Exec=hourglass-linux
Icon=hourglass
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=hourglass
